.petals{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 165, 20);
    border-radius: 0 100%;
    position: relative;
    left: 100px;
    top: 100px;
    transform-origin: right bottom;
}

#primer{
    top: 100px;
    transform: rotate(0deg);
}
#segon {
    top: 0px;
    transform: rotate(60deg);

}
#tercer {
    top: -100px;
    transform: rotate(120deg);

}
#quart {
    top: -200px;
    transform: rotate(180deg);

}
#cinque {
    top: -300px;
    transform: rotate(240deg);

}
#sise {
    top: -400px;
    transform: rotate(300deg);

}
.cor{
    height: 50px;
    width: 50px;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
    position: relative;
    top: -425px;
    left: 175px;
}
.flor{
    width: 400px;
    height: 400px;
    float: left;
}
.flor:hover{
    animation-name: rotacio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotacio{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}